.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem auto;
  height: fit-content;
  width: 32rem;
  background-color: #1a1b21;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

section {
  margin: 1rem 2.8rem 2rem 2.8rem;
  text-align: left;
  line-height: 1.6rem;
  color: #dcdcdc;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #f5f5f5;
}
